.t-container{
    width: 100%;
    padding: 0 200px;
}
.t-navbar-con{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
    z-index: 99;
}
.t-prompt-content{
    position: absolute;
    width: 200px;
    right: -200px;
    bottom: 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
    top: 0;
    background: white;
}
.t-po-r{
    position: relative;
}
.AppMainBo{
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    font-size: 14px;
    color: rgb(51,51,51);
}